<a href="/">Home Page</a>
<a href="/about">About</a>
<a href="/form">Form</a>

<head>
  <link rel="stylesheet" type="text/css" href ="static/basic.css">
  <title>This is a form demo!</title>
</head>

<form method="post">
  Please enter your name: <input name="name"/>
  <button type="submit">Make a post request</button>
</form>
<!---more content if a name exists -->
{% if name %}
<!--Do some stuff-->
    <div class="content">
      <p>Hello, {{ name }}!!</p>
      <p>{{ name }}</p>
    </div>
{% endif %}